[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
click = "*"

[requires]
python_version = "3.7"
